@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my website</h1>
    <p>You can do some amazing things with ASP.net</p>
    <br />
    <h2>Where to Start</h2>
    <p>First, let me show you how you can create an ASP.NET web application.</p>
    <p>Open up your terminal and try this out.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Command_Prompt_on_Windows_10_RTM.png" alt="command terminal on windows"/>
    <p>In the terminal, first type <span style="color: red;">dotnet</span> to see if you have .NET installed.</p>
    <p>After that type <span style="color: red;">dotnet new webApp -o myWebApp --no-https</span> then cd into myWebApp.</p>
    <p>To launch your new web app, type <span style="color: red;">dotnet watch run</span> in the terminal.</p>
    <h4>Your Done! Congratulations, you just created a new web app with ASP.NET!</h4>
</div>
